//
//  Config.xcconfig
//  InstagramChallenge
//
//  Created by 최하늘 on 2022/08/10.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


KAKAO_NATIVE_APP_KEY = 6bf3b9bbc353619381411d68b9ac3a7d

BASE_URL = https:/$()/challenge-api.gridge.co.kr
